<div class="head row p-2">
  <div class="container p-1 mx-3 marco col-6">
    <form >      
      <div class="form-group" action="">
        <label for="name"
          >Nombre
          <input          
            type="text"
            name="name"
            id="field_name"
            placeholder="introduzca nombre"
            [(ngModel)]="fName"
        /></label>
      </div>
      <div class="form-group" action="">
        <label for="lastName"
          >Apellidos
          <input
            type="text"
            name="lastName"
            id="field_last_name"
            placeholder="introduzca apellidos"
            ngModel
            #vLastName
            [(ngModel)]="fLastName"
        /></label>
      </div>
      <div class="form-group" action="">
        <label for="position"
          >cargo
          <input
            type="text"
            name="position"
            id="field_position"
            placeholder="introduzca cargo"
            ngModel
            #vPosition
            [(ngModel)]="fPosition"
        /></label>
      </div>
      <div class="form-group" action="">
        <label for="salary"
          >salary
          <input type="number" name="salary" id="field_salary" ngModel #vSalary [(ngModel)]="fSalary"
        /></label>
      </div>
      <div class="buttoncontainer">
        <button class="btn end"(click)="addEmployee()" type="button">añadir</button>
      </div>
      
    </form>
  </div>
  <div class="data container col-4"> 
    <p>Name: {{fName}}</p>   
    <p>LastName: {{fLastName}}</p>
    <p>Position: {{fPosition}}</p>
    <p>Salary: {{fSalary}}</p>    
  </div>
  
</div>
<div class="employees">
  <app-son *ngFor="let anEmployee of employees" [employee]="anEmployee"></app-son>
</div>
